@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Exo&display=swap');

/* Header */

.logo {
    background: url(/assets/images/logo40.png) no-repeat center left;
    height: 120px;
    margin: 30px 0 0 42.5px;
    width: 290px;
    position: absolute;
    display: block;
    /*
    Image size
    Colour change on hover? */
}

.collapse {
    margin: auto;
}

.logo:hover {
    background: url(/assets/images/changed40.png) no-repeat center left;
}

header {
    background-color: yellow;
    height: 180px;
}

.navbar-toggler {
    background-color: rgb(73, 133, 28);
    height: 80px;
    width: 80px;
    margin: 25px 10px;
    border-radius: 25px;
}

.page-links {
    margin: auto;
}

.navbar {
    padding-top: 56px;
}

.ml-auto {
    margin-left: 20px!important;
}

.active {
    border-bottom-style: solid;
}

body {
    margin: 0;
}

.pages {
    text-decoration: none;
    float: right;
    border-radius: 25px;
    text-align: center;
    font-weight: 700;
    margin: 10px;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 32px;
    color: rgb(73, 133, 28);
}

a:not([href]):not([tabindex]) {
    color: rgb(73, 133, 28);
}

li {
    list-style-type: none;
}

/* Sections */
section {
    background-color: #fafafa;
    color: white;
    padding-bottom: 40px;
}

/* Homepage */

.oval {
    width: 400px;
    height: 200px;
    border-radius: 50%;
    background-color: yellow;
    grid-area: oval;
    text-align: center;
    color:rgb(73, 133, 28);
    font-size: 40px;
    font-weight: 600px;
    border: 2px solid rgb(73, 133, 28);
}

.ovals-image {
    border-radius: 50px;
    width: 400px;
    height: 400px;
    grid-area: ovals-image;
}

.ovals-text {
    width: 380px;
    height: 200px;
    grid-area: ovals-text;
    color:rgb(73, 133, 28);
    font-size: 32px;
    text-align: center;
}

#ovals-text-one {
    margin: 20px 0 0 0;
    width: 360px;
    background-color: lightblue;
    border-radius: 25px;
    height: 160px;
    padding: 25px;
    position: absolute;
    border: 2px solid rgb(73, 133, 28);
}

#ovals-text-two {
    margin: 20px 0 0 0;
    width: 360px;
    background-color: lightblue;
    border-radius: 25px;
    height: 160px;
    padding: 25px;
    position: relative;
    border: 2px solid rgb(73, 133, 28);
}

#homepage-more-info {
    right: 0;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    height: 50px;
    width: 140px;
    font-size: 24px;
    background-color: yellow;
    color:rgb(73, 133, 28);
    border: 2px solid;
    padding: 5px 6px;
}

#homepage-grownups {
    left: 0;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    height: 50px;
    width: 140px;
    font-size: 24px;
    background-color: yellow;
    color:rgb(73, 133, 28);
    border: 2px solid;
    padding: 5px 6px;
}

#homepage-grownups:hover, #homepage-more-info:hover {
    background-color: rgb(73, 133, 28);
    color: yellow;
}

.homepage-first {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "oval ovals-image"
        "ovals-text ovals-image";
    position: relative;
    padding: 50px;
    font-family: 'Balsamiq Sans', cursive;
}

.homepage-second {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "ovals-image oval"
        "ovals-image ovals-text";
    position: relative;
    padding-bottom: 20px;
    font-family: 'Balsamiq Sans', cursive;
    padding-top: 20px;
}

#home-image-one {
    background: url(/assets/images/home-one.png) no-repeat bottom center;
    margin-left: 30px;
}

#home-image-two {
    background: url(/assets/images/home-two.png) no-repeat bottom center;
    position: absolute;
    right: 0;
    margin-right: 30px;
}

#oval-one {
    position: absolute;
    right: 0;
    margin-right: 30px;
    padding-top: 40px;
}

#text-one {
    position: absolute;
    right: 0;
    margin-right: 30px;
}

#oval-two {
    margin-left: 30px;
    padding-top: 35px;
}

#text-two {
    position: relative;
    margin-left: 30px;
    padding-left: 20px;
}

.guitar-button {
    width: 800px;
    height: 200px;
    background-color: yellow;
    border: 10px solid;
    color: rgb(73, 133, 28);
    font-family: 'Balsamiq Sans', cursive;
    font-size: 48px;
    text-align: center;
    border-radius: 25px;
    display: flex;
    margin: auto;
    margin-top: 30px;
}

.guitar-button span {
    margin: auto;
}

.guitar-button:hover {
    background-color: rgb(73, 133, 28);
    color: yellow;
}

/* Footer */

footer {
    background-color: yellow;
    height: 140px;
}

#contactus-button {
    background-color: rgb(73, 133, 28);
    border-radius: 25px;
    color: yellow;
    margin: 30px 50px;
}

#contactus-button:hover {
    background-color: lightblue;
    color:rgb(73, 133, 28);
}

footer p {
    text-align: center;
    color: rgb(73, 133, 28);
    font-weight: 600;
}