@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Exo&display=swap');
@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

/* Header */

.logo {
    background: url(/assets/images/logo.png) no-repeat center left;
    height: 120px;
    margin: 30px 0 0 42.5px;
    width: 290px;
    position: absolute;
    display: block;
}

.list-inline>li {
    padding-left: 0;
    padding-right: 0;
}

#lessons-navbar {
    padding-top: 51px;
}

.logo:hover {
    background: url(/assets/images/logo-color-change.png) no-repeat center left;
}

header {
    background-color: yellow;
    height: 180px;
}

.navbar-toggler {
    background-color: rgb(73, 133, 28);
    height: 80px;
    width: 80px;
    margin: 25px 10px;
    border-radius: 25px;
}

.navbar {
    padding-top: 56px;
}

.page-links {
    margin: auto;
}

.ml-auto {
    margin-left: 20px!important;
}

.active2 {
    border-bottom-style: solid;
}

body {
    margin: 0;
}

.pages {
    text-decoration: none;
    float: right;
    border-radius: 25px;
    text-align: center;
    font-weight: 700;
    margin: 10px;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 28px;
    color: rgb(73, 133, 28);
}

.pages:hover {
    text-decoration: none;
    color: lightblue;
}

a:not([href]):not([tabindex]) {
    color: rgb(73, 133, 28);
}

li {
    list-style-type: none;
}

/* Bootstrap row fix */
.row {
    margin-left: 0;
    margin-right: 0;
}

/* Sections */
section {
    background-color: #fafafa;
    padding-bottom: 40px;
}

.orange {
    background: url(/assets/images/orange-paint.png) no-repeat center center;
    position: absolute;
    left: 0;
    top: 150px;
    width: 800px;
    height: 800px;
    z-index: 0;
}

.blue {
    background: url(/assets/images/blue-paint.png) no-repeat center center;
    position: absolute;
    right: 0;
    top: 0;
    width: 800px;
    height: 800px;
    z-index: 0;
    margin-top: 600px;
}

/* Homepage */

.oval {
    width: 400px;
    height: 200px;
    border-radius: 50%;
    background-color: yellow;
    grid-area: oval;
    text-align: center;
    color:rgb(73, 133, 28);
    font-size: 40px;
    font-weight: 600px;
    border: 2px solid rgb(73, 133, 28);
}

.ovals-image {
    border-radius: 50px;
    width: 400px;
    height: 400px;
    grid-area: ovals-image;
}

.ovals-text {
    width: 380px;
    height: 200px;
    grid-area: ovals-text;
    color:rgb(73, 133, 28);
    font-size: 32px;
    text-align: center;
}

#ovals-text-one {
    margin: 20px 0 0 0;
    width: 360px;
    background-color: lightblue;
    border-radius: 25px;
    height: 160px;
    padding: 25px;
    position: absolute;
    border: 2px solid rgb(73, 133, 28);
}

#ovals-text-two {
    margin: 20px 0 0 0;
    width: 360px;
    background-color: lightblue;
    border-radius: 25px;
    height: 160px;
    padding: 25px;
    position: relative;
    border: 2px solid rgb(73, 133, 28);
}

#homepage-more-info {
    right: 0;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    height: 50px;
    width: 140px;
    font-size: 24px;
    background-color: yellow;
    color:rgb(73, 133, 28);
    border: 2px solid;
    padding: 5px 6px;
}

#homepage-grownups {
    left: 0;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    height: 50px;
    width: 140px;
    font-size: 24px;
    background-color: yellow;
    color:rgb(73, 133, 28);
    border: 2px solid;
    padding: 5px 6px;
}

#homepage-grownups:hover, #homepage-more-info:hover {
    background-color: rgb(73, 133, 28);
    color: yellow;
    border: 2px solid rgb(73, 133, 28);
}

.homepage-first {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "oval ovals-image"
        "ovals-text ovals-image";
    position: relative;
    padding: 50px;
    font-family: 'Balsamiq Sans', cursive;
    z-index: 1;
}

.homepage-second {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "ovals-image oval"
        "ovals-image ovals-text";
    position: relative;
    padding-bottom: 20px;
    font-family: 'Balsamiq Sans', cursive;
    padding-top: 20px;
    z-index: 1;
}

#home-image-one {
    background: url(/assets/images/home-one.png) no-repeat bottom center;
    margin-left: 30px;
}

#home-image-two {
    background: url(/assets/images/home-two.png) no-repeat bottom center;
    position: absolute;
    right: 0;
    margin-right: 30px;
}

#oval-one {
    position: absolute;
    right: 0;
    margin-right: 30px;
    padding-top: 40px;
}

#text-one {
    position: absolute;
    right: 0;
    margin-right: 30px;
}

#oval-two {
    margin-left: 30px;
    padding-top: 35px;
}

#text-two {
    position: relative;
    margin-left: 30px;
    padding-left: 20px;
}

.guitar-button {
    width: 800px;
    height: 200px;
    background-color: yellow;
    border: 10px solid;
    color: rgb(73, 133, 28);
    font-family: 'Balsamiq Sans', cursive;
    font-size: 48px;
    text-align: center;
    border-radius: 25px;
    display: flex;
    margin: auto;
    margin-top: 30px;
    z-index: 1;
    position: relative;
}

.guitar-button span {
    margin: auto;
}

.guitar-button:hover {
    background-color: rgb(73, 133, 28);
    color: yellow;
}

/*Lessons*/

.page-titles {
    color:rgb(73, 133, 28);
    text-align: center;
    font-size: 48px;
    font-family: 'Balsamiq Sans', cursive;
    margin: 0 20px 0 20px;
    padding: 20px 0 0 0;
}

.item.active {
    border-bottom: none;
}

#lessons-image-one {
    width: 50%;
    display: inline-block;
}

#lessons-image-two {
    width: 50%;
    display: inline-block;
}

#lessons-image-three {
    width: 50%;
    display: inline-block;
}

.carousel-textbox {
    border: 5px solid rgb(73, 133, 28);
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    font-family: 'Balsamiq Sans', cursive;
    color:rgb(73, 133, 28);
    width: 49%;
    margin-left: 0.4%;
    margin-right: 0.1%;
}

.item {
    text-align: center;
}

.carousel-inner>.item>a>img,.carousel-inner>.item>img,.img-responsive,.thumbnail a>img,.thumbnail>img {
    -webkit-transition: 0.2s ease-in-out left;
    -moz-transition: 0.2s ease-in-out left;
    -o-transition: 0.2s ease-in-out left;
    transition: 0.2s ease-in-out left;
}

.carousel-box {
    margin: auto;
    width: 75%;
}

#myCarousel {
    margin-bottom: 20px;
}

.key-interact {
    margin-top: 0;
    margin-bottom: 20px;
}

#select-key {
    text-align: center;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    font-size: 32px;
    color: inherit;
    border: 2px solid rgb(73, 133, 28);
    border-radius: 5px;
}

.javascript-key {
    margin: 30px;
}

.interested {
    color:rgb(73, 133, 28);
    text-align: center;
    font-size: 32px;
    font-family: 'Balsamiq Sans', cursive;
    margin: 20px;
}

.empty {
    height: 30px;
    margin-bottom: 70px;
}

#contactus-button-lessons {
    background-color: rgb(73, 133, 28);
    border-radius: 25px;
    color: yellow;
    margin: 30px 50px 30px 70px;
    font-size: 24px;
}

#contactus-button-lessons:hover {
    background-color: lightblue;
    color:rgb(73, 133, 28);
}

/* Grown Ups */

.my-h2 {
    color:rgb(73, 133, 28);
    text-align: center;
    font-size: 32px;
    font-family: 'Balsamiq Sans', cursive;
}

.accordion {
    background-color: lightblue;
    color: rgb(73, 133, 28);
    cursor: pointer;
    padding: 18px;
    width: 75%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
    display: inherit;
    font-family: 'Balsamiq Sans', cursive;
}

.panel .active-accordion, .accordion:hover {
    background-color: rgb(73, 133, 28);
    color: #fafafa;
}

.accordion:after {
    content: '+';
    font-size: 16px;
    color: rgb(73, 133, 28);
    float: right;
    margin-left: 5px;
}
  
.active-accordion:after {
    content: '—' ;
    color: rgb(73, 133, 28);
    font-size: 13px;
}

.accordion:hover:after {
    color: #fafafa;
}

.panel {
    padding: 0 18px;
    background-color: #fafafa;
    display: none;
    overflow: hidden;
    width: 75%;
    margin: auto;
    border: 2px solid rgb(73, 133, 28);
    padding-top: 10px;
    font-family: 'Balsamiq Sans', cursive;
    color: rgb(73, 133, 28);
}

.carousel .carousel-indicators li {
    background-color: lightblue;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}
  
.carousel .carousel-indicators li.active {
    background-color: rgb(73, 133, 28);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 1px 3px;
}

.carousel-indicators {
    margin: auto;
    margin-bottom: 20px;
}
.carousel-indicators li {
    border: none;
}

#contact-us {
    margin-top: 40px;
}

.contactus-form {
    margin: auto;
    width: 33%;
}

.contactus-form input, #message {
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Balsamiq Sans', cursive;
}

#message {
    margin-bottom: 0;
}

#submit {
    float: right;
    margin-bottom: 0;
    border-radius: 25px;
    background-color: #fafafa;
    color: rgb(73, 133, 28);
    border: 2px solid rgb(73, 133, 28);
    height: 40px;
    width: 110px;
    padding: 5px 6px;
    font-size: 20px;
    cursor: pointer;
}

#submit:hover {
    background-color: rgb(73, 133, 28);
    color: #fafafa;
}

#phone {
    margin-top: 50px;
}

/* Guitar Game */

.chord:hover {
    color: yellow;
    background-color: rgb(73, 133, 28);
    border: 2px solid rgb(73, 133, 28);
}

.chord-box {
    text-align: center;
    width: 75%;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}

#show-chords {
    display: grid;
    gap: 0;
    grid-template-columns: 5fr 1fr 4fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:
    "chord score larrys-speech"
    "chord larry larry";
    height: 425px;
}

.chord {
    border: 2px solid;
    width: 4rem;
    height: 4rem;
    color: rgb(73, 133, 28);
    border-radius: 5px;
    font-size: 32px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 800;
    padding-top: 5px;
    background-color: white;
    margin: 30px;
    display: inline-block;
    cursor: pointer;
}

.chord:focus {
    outline: none;
    border: 2px solid rgb(73, 133, 28);
}

#chord {
    grid-area: chord;
    margin-left: 55%;
}

#larry {
    grid-area: larry;
    width: 300px;
}

#speech {
    width: 250px;
    margin-top: 1%;
    overflow: hidden;
    position: absolute;
}

#larrys-speech {
    grid-area: larrys-speech;
    width: 250px;
    margin-top: 7%;
    overflow: hidden;
}

#larry-welcome {
    margin-top: 30px;
}

#larry-first-move {
    margin-top: 60px;
}

#larry-correct-one {
    margin-top: 65px;
}

#larry-correct-two {
    margin-top: 60px;
}

#larry-correct-three {
    margin-top: 60px;
}

#larry-wrong-one {
    margin-top: 60px;
}

#larry-wrong-two {
    margin-top: 60px;
}

#larry-wrong-three {
    margin-top: 65px;
}

.larry-messages {
    width: 270px;
    text-align: center;
    color: rgb(73, 133, 28);
    font-family: 'Balsamiq Sans', cursive;
    padding: 17px 40px 20px 40px;
    overflow: hidden;
    position: absolute;
    display: none;
}

#score-box {
    grid-area: score;
}

.score {
    border: 2px solid;
    width: 8rem;
    height: 8rem;
    color: rgb(73, 133, 28);
    border-radius: 5px;
    font-size: 32px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 800;
    padding-top: 10px;
    background-color: lightblue;
    display: inline-block;
    margin: 60px auto 0 auto;
    text-align: center;
}
#score {
    display: inline;
}

.game-chord {
    width: 350px;
    height: 350px;
    margin: 50px 70px 0 0;
    border: 2px solid rgb(73, 133, 28);
    display: inline-block;
    border-radius: 25px;
}

.a {
    background: url(/assets/images/a.png) no-repeat bottom center;
}

.c {
    background: url(/assets/images/c.png) no-repeat bottom center;
}

.d {
    background: url(/assets/images/d.png) no-repeat bottom center;
}

.e {
    background: url(/assets/images/e.png) no-repeat bottom center;
}

.g {
    background: url(/assets/images/g.png) no-repeat bottom center;
}

.chord-shadow-green {
    box-shadow: 0 0 10px green;
    -moz-box-shadow: 0 0 10px green;
    -webkit-box-shadow: 0 0 10px green;
}

.chord-shadow-red {
    box-shadow: 0 0 10px red;
    -moz-box-shadow: 0 0 10px red;
    -webkit-box-shadow: 0 0 10px red;
}

#play-button {
    border: 2px solid;
    width: 8rem;
    height: 4rem;
    color: rgb(73, 133, 28);
    border-radius: 5px;
    font-size: 32px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 800;
    padding-top: 5px;
    background-color: white;
    text-align: center;
    display: block;
    margin: 90px 0 20px 30px;
    cursor: pointer;
}

#play-button:hover {
    color: yellow;
    border: 2px solid rgb(73, 133, 28);
    background-color: rgb(73, 133, 28);
}

#answer-box {
    width: 60px;
    color: rgb(73, 133, 28);
    text-align: center;
    margin-left: 10px;
}

#submit-game {
    margin-left: 30px;
    color: rgb(73, 133, 28);
    background-color: #fafafa;
    border-radius: 5px;
    border: 2px solid;
    margin-bottom: 5px;
}

#submit-game:hover {
    color: yellow;
    border: 2px solid rgb(73, 133, 28);
    background-color: rgb(73, 133, 28);
}

/* Footer */

footer {
    background-color: yellow;
    height: 140px;
}

#contactus-button {
    background-color: rgb(73, 133, 28);
    border-radius: 25px;
    color: yellow;
    margin: 30px 50px;
}

#contactus-button:hover {
    background-color: lightblue;
    color:rgb(73, 133, 28);
}

footer p {
    text-align: center;
    color: rgb(73, 133, 28);
    font-weight: 600;
    font-size: 16px;
}